ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  --background: linear-gradient(to bottom, #0033a0, #005bbb);
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Asegura que todo esté centrado */
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ion-item {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button {
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
}