<ion-header>
  <ion-toolbar>
<!--   <ion-title [@fadeInTitle]="titleState">Home</ion-title> -->
   <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido, {{ username }}</h2>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nivel de educación</ion-label>
    <ion-select [(ngModel)]="nivelEducacion">
      <ion-select-option value="primaria">Primaria</ion-select-option>
      <ion-select-option value="secundaria">Secundaria</ion-select-option>
      <ion-select-option value="universitaria">Universitaria</ion-select-option>
      <ion-select-option value="postgrado">Postgrado</ion-select-option>

    </ion-select>
  </ion-item>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="full" (click)="mostrarInfo()">Mostrar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="danger" (click)="limpiarCampos()">Limpiar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
  
</ion-content>
